Time Calculation

In [2]:
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(f"There are {display_minutes} minutes and {display_seconds} seconds in {seconds}")

There are 17 minutes and 22 seconds in 1042

Let's explore how we can create a program that can calculate the distance between two planets. We'll start by using two planet distances: Earth (149,597,870 km) and Jupiter (778,547,200 km).


Planet	| Distance from sun
------- |  --------
Mercury	| 57900000
Venus	| 108200000
Earth	| 149600000
Mars	| 227900000
Jupiter	| 778600000
Saturn	| 1433500000
Uranus	| 2872500000
Neptune	| 4495100000

In [3]:
first_planet = 149_597_870
second_planet = 778_547_200

distance_km = second_planet - first_planet
print(distance_km)

distance_mi = distance_km / 1.609344
print(distance_mi)

628949330
390810995.0389724

Convert strings to numbers

In [4]:
demo_int = int('215')
print(demo_int)

demo_float = float('215.3')
print(demo_float)

215
215.3

Absolute values

In [5]:
print(abs(39 - 16))
print(abs(16 - 39))

23
23

Rounding

The built-in Python function called round is also helpful. Use it to round up to the nearest integer if the decimal value is greater than .5, or down if it's less than .5. If the decimal value is equal to .5, the function rounds up or down to the nearest even integer.

In [6]:
print(round(1.4))
print(round(1.5))
print(round(2.5))
print(round(2.6))

1
2
2
3

Math library

In [7]:
from math import ceil, floor

round_up = ceil(12.5)
print(round_up)

round_down = floor(12.5)
print(round_down)

13
12

## List

In [12]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune", "Pluto"]

In [13]:
number_of_planets = len(planets)
print("There are", number_of_planets, "planets in the solar system.")

There are 9 planets in the solar system.

In [14]:
jupiter_index = planets.index("Jupiter")
print("Jupiter is the", jupiter_index + 1, "planet from the sun")

Jupiter is the 5 planet from the sun

In [15]:
gravity_on_planets = [0.378, 0.907, 1, 0.377, 2.36, 0.916, 0.889, 1.12]

In [16]:
bus_weight = 124054 # in Newtons, on Earth

print("On Earth, a double-decker bus weighs", bus_weight, "N")
print("On Mercury, a double-decker bus weighs", bus_weight * gravity_on_planets[0], "N")

On Earth, a double-decker bus weighs 124054 N
On Mercury, a double-decker bus weighs 46892.412000000004 N

In [17]:
bus_weight = 12650 # in Newtons, on Earth

print("On Earth, a double-decker bus weighs", bus_weight, "N")
print("The lightest a bus would be in the solar system is", bus_weight * min(gravity_on_planets), "N")
print("The heaviest a bus would be in the solar system is", bus_weight * max(gravity_on_planets), "N")

On Earth, a double-decker bus weighs 12650 N
The lightest a bus would be in the solar system is 4769.05 N
The heaviest a bus would be in the solar system is 29854.0 N

In [18]:
amalthea_group = ["Metis", "Adrastea", "Amalthea", "Thebe"]
galilean_moons = ["Io", "Europa", "Ganymede", "Callisto"]

regular_satellite_moons = amalthea_group + galilean_moons
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [20]:
# Create the variable for user input
user_input = ''
# Create the list to store the values
inputs = []

# The while loop
while user_input.lower() != 'done':
    # Check if there's a value in user_input
    if user_input:
        # Store the value in the list
        inputs.append(user_input)
    # Prompt for a new value
    user_input = input('Enter a new value, or done when done')

print(inputs)

['a', 'b', 'c']

## for loop

In [21]:
countdown = [4, 3, 2, 1, 0]
for number in countdown:
    print(number)
print("Blast off!! ðŸš€")

4
3
2
1
0
Blast off!! ðŸš€

Let's change that code to wait for one second between each number by using the sleep() function:

In [22]:
from time import sleep

countdown = [4, 3, 2, 1, 0]

for number in countdown:
    print(number)
    sleep(1)  # Wait 1 second
print("Blast off!! ðŸš€")

4
3
2
1
0
Blast off!! ðŸš€

## Python dictionaries

In [23]:
planet = {
    'name': 'Earth',
    'moons': 1
}

In [25]:
print(planet.get('name'))
# planet['name'] is identical to using planet.get('name') just check first then show second, and [name] give error if not exist
print(planet['name'])

Earth
Earth

In [26]:
planet.update({
    'name': 'Jupiter',
    'moons': 79
})

In [27]:
planet['name'] = 'Jupiter'
planet['moons'] = 79

In [28]:
planet

{'name': 'Jupiter', 'moons': 79}

In [29]:
planet['diameter (km)'] = {
    'polar': 133709,
    'equatorial': 142984
}

In [30]:
planet

{'name': 'Jupiter',
 'moons': 79,
 'diameter (km)': {'polar': 133709, 'equatorial': 142984}}

In [31]:
print(f'{planet["name"]} polar diameter: {planet["diameter (km)"]["polar"]}')

Jupiter polar diameter: 133709